/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2014, 12:17:35 PM
    Author     : Ido
*/


HTML, BODY { width: 100%; height: 100%; margin:0; padding:0; background-color: #fff; font-size: 100%; 
             //background-image:url("images/izy-shapira3-1.png"); background-repeat: no-repeat;
             direction: rtl; background-size:cover; -webkit-background-size: cover; font-family: Arial;}
.main_content { height: 100%; width: 100%;}
HEADER { height:7%;  width: 100%;  position: relative}
HEADER H1 { font: normal 5vh Arial; color: #565757; margin-right: 4%;}
HEADER .burger_btn {overflow: hidden; text-indent: -9999px; height:55%; width: 2.5%; background-image: url("../images/burger.png");
                    position: absolute; left:3%; top: 50%;}


.kid_header { height:13%; background-color: #749cd2; position: relative; color:#fff; }
.kid_header .profile_picture { background-image: url("../images/Success-Kid.jpg"); background-position: 50% 50%; 
                               border-radius: 50%;  border: 1px solid #ffff71; -webkit-border-radius: 50%; -moz-border-radius: 50%;
                               width: 100px; height: 90%; margin-right: 4%;  top:50%; position: absolute;}
.kid_header .profile_name { color:#fff; font: normal 8vh Arial; position: absolute; top:50%;}
.kid_header .time_box { font-size: 3vh; position: absolute; top: 50%; left: 4%; text-align: left; line-height: 2vh;}
.kid_header .time_box .edit { color: #201b12; font-size: 2.7vh; text-decoration: underline;}

.big_line { height:4.5%; width: 94%; margin-right: 4%; margin-top: 2%;}
.big_line .pee { background-image: url('../images/pee.jpg'); background-size:cover; -webkit-background-size: cover; height:100%; display: inline-block;} 
.big_line .poo { background-image: url('../images/poo.png'); background-size:cover; -webkit-background-size: cover; height:100%; display: inline-block;}
.big_line SPAN { vertical-align: bottom; }
.big_line .number { color:#749cd2; font-size: 4.1vh; }
.big_line .text { color:#787879; font-size: 3.8vh; }

TEXTAREA { width: 90%; height:5%; padding: 1%; margin: 2% 4% 1% 4%; font: normal 2.6vh Arial; color:#787879;}

.bottom_table { width: 92%; margin: 0% 4% 0% 4%; height: 30%;  font: normal 2.3vh Arial; }
.bottom_table TABLE { width: 100%; height: 100%;}
.bottom_table TABLE TR { height: 18%;}
.bottom_table TABLE TR TD { height: 18%;}
.bottom_table TABLE TR TD DIV, .bottom_table TABLE TR TD SPAN { vertical-align: middle; font: normal 2.1vh Arial; color:#787879; background-position: 50% 50%;}
.bottom_table TABLE TR TD:first-child SPAN { color:#749cd2 !important;  font: bold 2.3vh Arial; }
.up { height: 70%; width: 8%; display: inline-block; background-repeat: no-repeat; background-position: 100% 50%; background-size: contain; -webkit-background-size: contain; background-image: url('../images/down_arrow.png'); vertical-align: middle; }
.down { height: 70%; width: 8%; display: inline-block; background-repeat: no-repeat; background-position: 100% 50%; background-size: contain; -webkit-background-size: contain; background-image: url('../images/up_arrow.png'); vertical-align: middle;}
.end_btn { background-color: #749cd2; color:#ffffff; float: left; height: 5.5%; margin-left: 4%; margin-top: 3%; text-align: center; width: 12%; font: normal 3.5vh Arial;  border-radius: 20px; line-height: 5.5vh; }
.back_btn, .back_btn:active, .back_btn:visited  { background-color: #749cd2; color:#ffffff; position: absolute; top: 50%; right: 0; height: 70%; margin-right: 2%; text-align: center; width: 11%; font: normal 3.5vh Arial;  border-radius: 20px; line-height: 5.5vh; 
            background-image: url('../images/back_arrow.png'); background-size: contain; background-repeat: no-repeat; background-position: center right; text-decoration: none;}
.open_bar  { background-color: #8d8e8d; padding-right: 4%; font: bold 3vh Arial; color: #fff; line-height: 5.5vh; height: 5.5%;}
            
@media only screen and (orientation:portrait){
    #mainContent { display:none; }
}
@media only screen and (orientation:landscape){

}


.spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left:50%;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #aaa;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.mm-list li a{font-size: 5vh; line-height: 5hv; padding:5%; }
.MediumTextTable { margin: 0 4%; padding:15px; direction: rtl;}
.MediumTextTableTD { margin: 0 4%;  padding:15px;direction: rtl;}
.thirdLevelHeader { margin: 0 4%;  padding:10px;    font-size: medium;  }	
.secondLevelHeader { margin: 0 4%;     padding:10px; font-size: x-large; }
